# Supabase credentials (Live Cloud)
NEXT_PUBLIC_SUPABASE_URL=https://ddmfdpumlrjxuoyvtuoi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkbWZkcHVtbHJqeHVveXZ0dW9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyODU2ODIsImV4cCI6MjEwNDg2MTY4Mn0.UafHkDoW5a_are86lTw1pjNSck4OWEZWAakXbigjUWA

# Cloudflare Worker submit endpoint (opsional)
NEXT_PUBLIC_SUBMIT_WORKER_URL=
